{% extends 'base/base.html' %}

{% block title %}Task list{% endblock title %}

{% block content %}

    <h1>To do list</h1>

<hr>

    <table>
        <tr>
            <th>Item</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>
                    <a href="{% url 'task' task.id %}" title="Detail task information">{{ task.title }}</a>
                </td>
            </tr>
        {% empty %}
            <h3>You have no tasks created yet...</h3>
        {% endfor %}
    </table>

    <hr>

    {% if is_paginated %}
        {% include 'inc/pagination.html' %}
    {% endif %}


{% endblock content %}


